.card {
    display: flex;
    border: 2px solid black;
    border-radius: 6px;
    text-align: left;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    width: 320px;
    font-size: 18px;
    margin: 10px;
}

.cardList {
    margin: 0;
    padding: 0;
}

.cardBtn {
    padding: auto;
    background-color: rgb(221, 221, 221);
}